.pissarra-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: rgba(0, 0, 0, 0.02);
}

.info {
    display: flex;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
    font-size: 48px;
    transition: opacity 3s linear;
    position: absolute;
    top: -250px;
}

.info img {
	position: relative;
    top: 100px;
}

.rect {
    position: absolute;
    transform-origin: 0 0; /* special for SVG */

    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.rect.highlighted {
    background-color: rgba(255, 255, 0, 0.2) !important;
    border: solid 2px rgb(255, 174, 0) !important;
}

.rect.rotated {
    flex-direction: column;
}

.rect.rotated .text {
    display: flex;
    align-items: center;
}

.selectable.selected .rect {
    z-index: 999;
}

.selectable.tard .rect {
    color: red;
}

.selectable.aviat .rect {
    color: red;
}

.selectable.tard .rect.rotated::before {
    top: auto;
    bottom: 25px;
    right: 0px;
    left: auto;
}

.selectable.aviat .rect.rotated::before {
    top: auto;
    bottom: 25px;
    right: 0px;
    left: auto;
}

.selectable.disabled .rect {
    background-color: rgb(255, 225, 225) !important;
}

.selectable.hasclone .rect::before {
    content: '🔗';
    font-size: 10px;
    position: absolute;
    bottom: -5px;
    right: -5px;
    z-index: 999;
}

.selectable.hasclone .rect.rotated::before {
    top: auto;
    bottom: -5px;
    left: -5px;
    right: auto;
}

.aux-text {
    position: absolute;
    transform-origin: 0 0; /* special for SVG */

    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.aux-text .text {
    transform-origin: 0 50%; /* special for SVG */
}

.rect .text {
    font-size: 14px;
    text-align: center;
    justify-content: center;
    font-family: 'Arial Narrow', Arial, sans-serif;
    text-transform: none;
    font-stretch: ultra-condensed;
    white-space: pre;
    padding: 0 2px;
}

.rect .text.diada-novinc {
    background-color: rgba(255, 0, 0, 0.5);
}

.rect .text.diada-noconfirmat {
    background-color: rgba(255, 166, 0, 0.5);
}

.rect .text.projectormode {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.rect .altura {
    font-size: 14px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-stretch: ultra-condensed;
    white-space: pre;

    border-radius: 1px;

    flex-grow: 1;
    padding: 0 2px;

    display: flex;
    align-items: center;
}

.selectable.no-ve .rect {
    color: red;
}

.selectable.no-sap-si-ve .rect {
    color: orange;
}

.selectable.ve .rect {
    color: green;
}

.selectable.fitxat .rect {
    color: #2859A8;
}

.selected .rect {
    background-color: rgba(255, 255, 0, 0.2) !important;
    outline: solid gold 1px !important;
}

.rect.toSwap {
    background-color: rgba(0, 0, 255, 0.2) !important;
    outline: solid #2859A8 1px !important;
}

.altura.Falca { background-color: #44CFCB; color: black; }
.altura.Crossa { background-color: #4EA5D9; color: white; }
.altura.Baix { background-color: #2A4494; color: white; }
.altura.Lateral { background-color: #224870; color: white; }
.altura.Rengla { background-color: #122C34; color: white; }

.individual-display {
    border-radius: 5px;
    padding: 2px 4px;
    background-color: darkseagreen;
    color: white;
}

.individual-display.relative {
    position: absolute;
    font-size: 8px;

    top: -5px;
    right: -5px;
}

.individual-display.relative.rotated {
    top: auto;
    bottom: -5px;

    rotate: 90deg;
}