webapp/node_modules/
.DS_Store
credentials.json
node_modules
yarn.lock
.expo
aws.credentials.json
credentials
backend/api-keys.txt
backend/data/*
backend/events/*
backend/calendar.keys.json
backend/backups
backend/google.auth.json
backend/jwt-secret.txt
db.credentials.json
webapp/src/db.credentials.json
webapp/src/aws.credentials.json